.topnav{
    background: #353E43;
    padding: 10px 0px;
    overflow: hidden;
    display: flex;
}

.topnav a {
    float: left;
    color: orange;
    text-align: center;
    padding: 15px 20px;
    font-size: 17px;
}

.topnav a:hover {
    background: #353E43;
    color: orange;
}

.topnav a.active {
    color: white;
    font-weight: bold;
}

.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image img{
    max-width: 100%;
    height: auto;
    flex: 1 1 auto;
    object-fit: cover;
}

#map {
    width: 100% !important;
    height: 100vh !important;
    border: 2px solid #353E43 !important;
}

body{
    height: 100%;
}
